<% layout("./templates/index.ejs")%>
<body>
    <div class="row offset-4">
        <div class="alert alert-danger m-5 col-4" role="alert" >
            <%=err.name%> <br>
            <%=err.status%> <br>
            <%=err.message%> <br>
        </div>
    </div>
    
</body>