<% layout("./templates/index.ejs")%>
<body>
    <div class="row offset-4">
        <div class="container mt-4 alert alert-danger fade show" role="alert" >
            <%=err.name%> <br>
            <%=err.status%> <br>
            <%=err.message%> <br>
        </div>
    </div>
    
</body>
