<% layout("./templates/index.ejs")%>
<link rel="stylesheet" href="/styles/message.css" />
<body>
    <div class="outer">
        <div class="coming-soon-container">
          <h1 class="coming-soon-title">Feature Unlocking Soon</h1>
          <p class="coming-soon-text">
            This feature is under development and will be available soon. Stay excited for the launch!
          </p>
        </div>
    </div>
</body>
