<% layout("./templates/index.ejs")%>
<link rel="stylesheet" href="/styles/notFound.css">
<body>
    <div class="outer">
    <div class="container">
        <div class="robot">
            <img src="https://cdn.dribbble.com/users/77598/screenshots/16399264/media/d86ceb1ad552398787fb76f343080aa6.gif" alt="404 Robot" />
        </div>
        <h1>404</h1>
        <p>Oops! The page you're looking for is missing.</p>
        <a href="/" class="home-button">Go Home</a>
    </div>
</div> 
</body>
