.outer {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #ffffff, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: #333;
}

.container {
    text-align: center;
}

.robot img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    font-size: 6rem;
    color: #0277bd;
    margin: 0;
}

p {
    font-size: 1.2rem;
    margin: 10px 0 20px;
    color: #555;
}

.home-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #0277bd;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
}

.home-button:hover {
    background-color: #01579b;
}
